<div *ngIf="someRandomVariable; then trueBlock else falseBlock"></div>

<ng-template #falseBlock>
  <div>
    <h1>False</h1>
  </div>
</ng-template>

<ng-template #trueBlock>
  <div>
    <h1>True</h1>
  </div>
</ng-template>

<h1>Interpolation</h1>
<p>Interpolation is a way angular uses to display variables inside your HTML using the curly braces. You can display a
  variable named <b>name</b> using <span ngNonBindable>{{ name }}</span></p>

<ul>
  <li *ngFor="let info of data">
    <span [ngClass]="{
     'javascript': info.lang === 'Javascript' ,
     'swift': info.lang === 'Swift'
    }">{{info.lang}} </span>is mostly used on {{info.usedOn}}
  </li>
</ul>